<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Primary Meta Tags -->
    <meta name="title" content="VMS - Vessel Monitoring System">
    <meta name="description" content="Vessel Monitoring System">
    <meta name="keywords" content="Vessel Monitoring System">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="revisit-after" content="7 days">
    <meta name="author" content="lintasevolusi">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="/">
    <meta property="og:title" content="VMS - Vessel Monitoring System">
    <meta property="og:description" content="Vessel Monitoring System">
    <!--<meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">-->

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="/">
    <meta property="twitter:title" content="VMS - Vessel Monitoring System">
    <meta property="twitter:description" content="Vessel Monitoring System">
    <!--<meta property="twitter:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">-->

    <title>VMS - Vessel Monitoring System</title>
    <link rel="shortcut icon" th:href="@{/media/logos/favicon.ico}" type="image/x-icon"/>
    <link rel="apple-touch-icon" th:href="@{/media/logos/apple-touch-icon.png}"/>
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/media/logos/apple-touch-icon-57x57.png}"/>
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/media/logos/apple-touch-icon-72x72.png}"/>
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/media/logos/apple-touch-icon-76x76.png}"/>
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/media/logos/apple-touch-icon-114x114.png}"/>
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/media/logos/apple-touch-icon-120x120.png}"/>
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/media/logos/apple-touch-icon-144x144.png}"/>
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/media/logos/apple-touch-icon-152x152.png}"/>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/media/logos/apple-touch-icon-180x180.png}"/>
    <script th:src="@{/plugins/custom/pace/pace.min.js}"></script>
    <link rel="stylesheet" th:href="@{/plugins/custom/pace/loading-bar.css}">
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <!--end::Fonts-->
    <!--begin::Page Custom Styles(used by this page)-->
    <link th:href="@{/css/pages/login/classic/login-4.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/custom/leaflet/leaflet.bundle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/custom/datatables/datatables.bundle.css}" rel="stylesheet" type="text/css"/>
    <!--end::Page Custom Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link th:href="@{/plugins/global/plugins.bundle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/custom/prismjs/prismjs.bundle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/style.bundle.css}" rel="stylesheet" type="text/css"/>
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <link th:href="@{/css/themes/layout/header/base/light.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/themes/layout/header/menu/light.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/themes/layout/brand/light.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/themes/layout/aside/light.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/fa-pro/css/all.css}" rel="stylesheet" type="text/css"/>
    <!--end::Layout Themes-->
    <style>
        .invisible-marker{
            display: none !important;
        }
    </style>
</head>